/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-card {
  width: 80%;
  margin: 50px auto 0px auto;
}

.mat-card {
  margin-top: 100px;
}

.mat-toolbar.mat-accent {
  background: #7a3d21;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  background: #f08d36;
}

.subtitle {
  margin-top: 30px !important;
}

.spacer {
  flex: 1 1 auto;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.title {
  margin-left: 0.4em;
  font-size: 1.9em; /* 40px/16=2.5em */
  color: #d8b395;
}

.menu {
  color: #d8b395;
}
