<h1 mat-dialog-title>Ratings for "{{data.name}}"</h1>
<div mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>Your Name</mat-label>
    <input [(ngModel)]="rating.name" matInput required>
  </mat-form-field>

  <p>Your Rating</p>
  <mat-slider [(ngModel)]="rating.ratingValue" aria-label="ttet" max="6"
              min="1" step="1" thumbLabel title="zskjdasd"></mat-slider>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea [(ngModel)]="rating.review" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount in gramm</mat-label>
    <input [(ngModel)]="rating.amount" matInput type="number">
  </mat-form-field>

  <p>Grinding Grade</p>
  <mat-slider [(ngModel)]="rating.grind"
              max="11" min="1" step="1" thumbLabel></mat-slider>

</div>
<div mat-dialog-actions>
  <button (click)="onSubmit()" aria-label="icon-button" color="primary" mat-raised-button>
    SUBMIT
  </button>
  <button (click)="onNoClick()" aria-label="icon-button" color="primary" mat-button>CLOSE</button>

</div>
