<h1 mat-dialog-title>Ratings for "{{data.name}}"</h1>
<div mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>Your Name</mat-label>
    <input [(ngModel)]="rating.name" matInput required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rating (1-6)</mat-label>
    <input [(ngModel)]="rating.rating" matInput required type="number">
    <!--    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>-->
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea [(ngModel)]="rating.review" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount in gramm</mat-label>
    <input [(ngModel)]="rating.amount" matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Grind Level (1-6)</mat-label>
    <input [(ngModel)]="rating.grind" matInput type="number">
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button (click)="onSubmit()" aria-label="icon-button" color="primary" mat-raised-button>
    SAVE
  </button>
  <button (click)="onNoClick()" aria-label="icon-button" color="primary" mat-button>CLOSE 1</button>

</div>
