.full-width {
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.rating {
  color: #f08d36;
  font-weight: bold;
}

.mat-slider {
  width: 50%;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.spacer {
  flex: 1 1 auto;
}
