<div class="container-card">
  <mat-card class="example-card">
    <mat-card-title>My Coffee Blends</mat-card-title>

    <mat-card-subtitle
    >A list of Coffee Blends (Coffee Mixes) from all around the world. Add new
      Blends and rate each cup of Coffee!
    </mat-card-subtitle>

    <mat-card-actions>
      <button
        aria-label="icon-button"
        color="primary"
        mat-raised-button
        routerLink="/add"
      >
        Add Coffee Blend
      </button>
    </mat-card-actions>

    <table [dataSource]="coffeeMixes" class="mat-elevation-z8" mat-table>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>Id</th>
        <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Blend Name</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>

      <!-- pricePerKg Column -->
      <ng-container matColumnDef="pricePerKg">
        <th *matHeaderCellDef mat-header-cell>Price/Kg</th>
        <td *matCellDef="let element" mat-cell>{{ element.pricePerKg }}</td>
      </ng-container>

      <!-- roastDegree Column -->
      <ng-container matColumnDef="roastDegree">
        <th *matHeaderCellDef mat-header-cell>Roast Degree</th>
        <td *matCellDef="let element" mat-cell>{{ element.roastDegree }}</td>
      </ng-container>

      <!-- totalRatings Column -->
      <ng-container matColumnDef="totalRatings">
        <th *matHeaderCellDef mat-header-cell>No. of Ratings</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.totalRatings }}
          <button
            (click)="openDialog(element)"
            aria-label="icon-button"
            class="coffee-mix-icon"
            mat-icon-button
          >
            <mat-icon color="primary">add_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- ratings Column -->
      <ng-container matColumnDef="ratings">
        <th *matHeaderCellDef mat-header-cell>Average Rating</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.averageRating }} / 6
        </td>
      </ng-container>

      <!-- link to Detail -->
      <ng-container matColumnDef="link">
        <th *matHeaderCellDef mat-header-cell>More</th>
        <td *matCellDef="let element" mat-cell>
          <button
            aria-label="icon-button"
            class="coffee-mix-icon"
            mat-icon-button
            routerLink="/coffeemix/{{ element.id }}"
          >
            <mat-icon class="brown">keyboard_arrow_right</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </mat-card>
</div>
