<div class="container">
  <mat-toolbar class="app-navbar" color="accent">
    <button
      aria-label="icon-button"
      class="coffee-mix-icon"
      mat-icon-button
      routerLink=""
    >
      <img alt="Coffee Bean Logo" src="assets/img/coffee-bean.png" width="35"/>
      <span>{{ title }}</span>
    </button>
    <span class="spacer"></span>

    <button
      [matMenuTriggerFor]="menu"
      aria-label="Menu of our Coffee Rating Application"
      mat-icon-button
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>houseboat</mat-icon>
        <span>Overview</span>
      </button>
      <button mat-menu-item routerLink="/add">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Coffee Blend</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>subject</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
