<div class="container-card">
  <mat-card class="example-card">
    <mat-card-title>Add a new Coffee Mix</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="coffeeMix.name" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price Per Kg</mat-label>
        <input [(ngModel)]="coffeeMix.pricePerKg" matInput type="number" />
      </mat-form-field>

      <p>Roast Degree</p>
      <mat-slider
        [(ngModel)]="coffeeMix.roastDegree"
        aria-label="roastDegree"
        max="5"
        min="1"
        step="1"
        thumbLabel
        title="roastDegree"
      ></mat-slider>
    </mat-card-content>

    <mat-card-actions>
      <button
        (click)="onSubmit()"
        [disabled]="
          !coffeeMix.name || !coffeeMix.pricePerKg || !coffeeMix.roastDegree
        "
        aria-label="icon-button"
        color="primary"
        mat-raised-button
      >
        NEXT
      </button>
      <button aria-label="icon-button" color="primary" mat-button routerLink="">
        BACK
      </button>
    </mat-card-actions>
  </mat-card>
</div>
